/* Varians */
:root {
  --box-border-radius: 30px;

  /* Primary */
  --primary-light-red: hsl(0, 100%, 67%);
  --primary-yellow: hsl(39, 100%, 56%);
  --primary-green-teal: hsl(166, 100%, 37%);
  --primary-cobalt-blue: hsl(234, 85%, 45%);

  /* Background Primary */
  --primary-background-light-red: hsla(0, 100%, 67%, 0.1);
  --primary-background-yellow: hsla(39, 100%, 56%, 0.1);
  --primary-background-green-teal: hsla(166, 100%, 37%, 0.1);
  --primary-background-cobalt-blue: hsla(234, 85%, 45%, 0.1);

  /* Gradients */

  --gradient-light-slate-blue-background: hsl(252, 100%, 67%);
  --gradient-light-royal-blue-background: hsl(241, 81%, 54%);
  --gradient-violet-blue-circle: hsla(256, 72%, 46%, 1);
  --gradient-persian-blue-circle: hsla(241, 72%, 46%, 0);

  /* Neutral */

  --neutral-white: hsl(0, 0%, 100%);
  --neutral-pale-blue: hsl(221, 100%, 96%);
  --neutral-light-lavender: hsl(241, 100%, 89%);
  --neutral-dark-gray-blue: hsl(224, 30%, 27%);
}
/* Setup font static */
@font-face {
  src: url(../assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
  font-family: "Hanken Grotesk";
  font-style: normal;
  font-weight: 1 1000;
}
/* General */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Hanken Grotesk", sans-serif;
}

#container {
  width: 610px;
  height: 430px;
  border-radius: var(--box-border-radius);
  box-shadow: 20px 20px 20px var(--neutral-pale-blue);

  display: grid;
  grid-template-columns: 50% 50%;
}
/* font weight */
#container > h2,
h3,
p,
.number-small {
  font-weight: 500;
}

/* Section left */
/* Font */
.box-left {
  padding: 10px 40px;
  text-align: center;
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  border-radius: var(--box-border-radius);
}
.box-left > h3,
p,
.number-small {
  color: var(--neutral-light-lavender);
}

.box-left > h2,
.number-large {
  color: var(--neutral-white);
}

.box-left > .score {
  margin: auto;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 81%, 54%, 0));
  display: grid;
  align-content: center;
}
.box-left > .score > .number-large {
  font-size: 50px;
  font-weight: 800;
  color: var(--neutral-white);
}

/* Section right */

.box-right {
  padding: 10px 40px;
}

.box-right > h3 {
  color: #000000;
}
.box-right > .detail {
  margin: 25px 0px;
}
.box-right > .detail > .task {
  margin: 10px 0px;
  padding: 15px;
  height: 20px;
  display: grid;
  grid-template-columns: 20% 50% 10% 20%;
  border-radius: 8px;
  font-weight: 500;
  align-items: center;
}
.box-right > .detail > .task1 {
  background-color: var(--primary-background-light-red);
}
.box-right > .detail > .task2 {
  background-color: var(--primary-background-yellow);
}
.box-right > .detail > .task3 {
  background-color: var(--primary-background-green-teal);
}
.box-right > .detail > .task4 {
  background-color: var(--primary-background-cobalt-blue);
}
.type1 {
  color: var(--primary-light-red);
}
.type2 {
  color: var(--primary-yellow);
}
.type3 {
  color: var(--primary-green-teal);
}
.type4 {
  color: var(--primary-cobalt-blue);
}
.number-1 {
  font-size: 14px;
  font-weight: 800;
  color: var(--neutral-dark-gray-blue);
}
.number-2 {
  font-size: 14px;
  font-weight: 500;
  color: var(--neutral-light-lavender);
}
button {
  width: 100%;
  height: 50px;
  border-radius: 30px;
  font-weight: 700;
  font-size: 14px;
  color: var(--neutral-white);
  background-color: var(--neutral-dark-gray-blue);
  align-content: center;
  cursor: pointer;
  border: hidden;
}
button:hover {
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

@media screen and (max-width: 375px) {
  #container {
    grid-template-columns: none;
    grid-template-rows: 50% 50%;
    height: inherit;
  }
  .box-left {
    border-radius: 0px 0px var(--box-border-radius) var(--box-border-radius);
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
