/* Varians */
:root {
  --box-border-radius: 30px;

  /* Primary */
  --primary-light-red: hsl(0, 100%, 67%);
  --primary-yellow: hsl(39, 100%, 56%);
  --primary-green-teal: hsl(166, 100%, 37%);
  --primary-cobalt-blue: hsl(234, 85%, 45%);

  /* Gradients */

  --gradient-light-slate-blue-background: hsl(252, 100%, 67%);
  --gradient-light-royal-blue-background: hsl(241, 81%, 54%);
  --gradient-violet-blue-circle: hsla(256, 72%, 46%, 1);
  --gradient-persian-blue-circle: hsla(241, 72%, 46%, 0);

  /* Neutral */

  --neutral-white: hsl(0, 0%, 100%);
  --neutral-pale-blue: hsl(221, 100%, 96%);
  --neutral-light-lavender: hsl(241, 100%, 89%);
  --neutral-dark-gray-blue: hsl(224, 30%, 27%);
}
/* Setup font static */
@font-face {
  src: url(../assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
  font-family: "Hanken Grotesk";
  font-style: normal;
  font-weight: 1 1000;
}
/* General */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Hanken Grotesk", sans-serif;
}

#container {
  width: 610px;
  height: 430px;
  border-radius: var(--box-border-radius);
  box-shadow: 20px 20px 20px var(--neutral-pale-blue);

  display: grid;
  grid-template-columns: 50% 50%;
}
/* font weight */
#container > h2,
h3,
p,
.number-small {
  font-weight: 500;
}

/* Section left */
/* Font */
.box-left {
  padding: 10px 50px;
  text-align: center;
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  border-radius: var(--box-border-radius);
}
.box-left > h3,
p,
.number-small {
  color: var(--neutral-light-lavender);
}

.box-left > h2,
.number-large {
  color: var(--neutral-white);
}

.box-left > .score {
  margin: auto;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 81%, 54%, 0));
  display: grid;
  align-content: center;
}
.box-left > .score > .number-large {
  font-size: 50px;
  font-weight: 800;
  color: var(--neutral-white);
}

/* Section right */

.box-right {
  padding: 10px 40px;
}

.box-right > .task1 {
  height: 40px;
  background-color: var(--primary-yellow);
  display: grid;
  grid-template-columns: 20% 50% 10% 20%;
  border-radius: 5px;
  align-items: center;
}
.box-right > .icon,
.content {
  color: var(--primary-light-red);
}
.number-1 {
  font-size: 14px;
  color: var(--neutral-dark-gray-blue);
}
.number-2 {
  color: var(--neutral-pale-blue);
}

/* .attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);+
} */
